.wiki-title {
	font-size:8em;
	margin:0 auto;
}
#random-article {
	font-size:3em;
}
.search-div {
	font-size:4em;
	margin:auto;
}
#btn-x {
	font-size:1em;
}
.search-title {
	font-size:5em;
}
.search-description {
	font-size:3em;
}
.btnBack {
	font-size:1em;
}