body {
	background:none;
}
.wiki-title {
	font-size:10em;
}
#random-article {
	font-size:4em;
}
.search-div {
	font-size:5em;
}
#btn-x {
	font-size:.8em;
}
.btnBack {
	font-size:4em;
}
#search-form {
	width:auto;
	font-size:1em;
}
.results-div {
	width:auto;
}
