body {
	background:url('../wikipedia-logo.png')no-repeat;
}
#wiki-container {
	margin:25vh auto;
	background-color:#ECECEC;
	border-radius:2%;
	opacity:.9;
	width:auto;
	height:auto;
	padding:5%;
}
.wiki-title {
	margin:0 auto;
	font-size:5em;
	font-family:'Lobster', cursive, sans-serif;
}
#wiki-div {
	margin:2vh auto;
}
.search-div {
	font-size:2em;
	margin:auto;
}
.search-bar {
	display:none;
	margin:1% auto;
}
#btn-x {
	margin:0 auto;
	font-size:.8em;
}
#btn-go {
	font-size:.8em;
}
.fa-search {
	margin:0 auto;
}
.results-div {
	background-color:#ECECEC;
	width:80vw;
	height:auto;
	padding:2% 5%;
	opacity:.9;
	margin:1% auto;
	display:none;
}
.btnBack {
	background-color:none;
	margin:1% 0;
}