body {
	background:url('../wikipedia-logo.png')no-repeat;
}
#wiki-container {
	margin:25vh auto;
	background-color:#ECECEC;
	border-radius:2%;
	opacity:.9;
	width:50vw;
	height:50vh;
}
.wiki-title {
	position:relative;
	font-size:5em;
	font-family:'Lobster', cursive, sans-serif;
}
#wiki-div {
	margin:2vh 19vw;
}
.search-div {
	font-size:2em;
	margin:auto;
}
.search-bar {
	display:none;
	margin:1% 9.5vw;
}
.fa-search {
	margin:0 22.5vw;
}
.results-div {
	background-color:#ECECEC;
	width:80vw;
	height:auto;
	padding:2% 5%;
	opacity:.9;
	margin:1% auto;
	display:none;
}
.btnBack {
	background-color:none;
	margin:1% 40vw;
}